# Haskell
# ==================
.stack-work
dist

# Scala
# ==================
.idea
scala/scala.iml

# Executables
# ==================
cpp/CSSR-*
cpp/CSSR

# Temp files
# ==================
# (really it all should go into tmp/)
tmp/
alphabet*.tmp*
data*.tmp*
*.log
*.tar
*.tar.gz
*EP_*
EP.dot

# Vim
# ==================
*.orig

# Notes
# ==================
# which may include possible citations and references
resources
.stites

# Long-term git worktrees
# ==================
# that C++ code is _HAIRY_
cpp-refactor/
cpp-refactor-std-lib/

logs
*.dot
